In [2]:
"""
This program opens the books database and use Cursor method execute to select all the data in the titles table, then use description and fetchall to 
display the data in tabular format.
Author: Azeez Mohammed
"""

# call sqlite3's connect function to connect to the database and obtain a connection object
import sqlite3

connection = sqlite3.connect('books.db')

# uses SQL query and pandas to view the authors table's contents
import pandas as pd

cursor = connection.cursor()
cursor = cursor.execute("""SELECT * FROM titles""")
print("{:^12} {:^35} {:<10} {:^10}".format(cursor.description[0][0], cursor.description[1][0], cursor.description[2][0], cursor.description[3][0]))
data = cursor.fetchall()

for row in data:
    print("{:<12} {:<35} {:^10} {:^10}".format(row[0], row[1], row[2], row[3]))

    isbn                    title                edition    copyright
0135404673   Intro to Python for CS and DS           1         2020
0132151006   Internet & WWW How to Program           5         2012
0134743350   Java How to Program                     11        2018
0133976890   C How to Program                        8         2016
0133406954   Visual Basic 2012 How to Program        6         2014
0134601548   Visual C# How to Program                6         2017
0136151574   Visual C++ How to Program               2         2008
0134448235   C++ How to Program                      10        2017
0134444302   Android How to Program                  3         2017
0134289366   Android 6 for Programmers               3         2016